@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
    --button-color: #1f87e4;

    margin: 0%;

    overflow-x: hidden;
}

.header-top {
    width: 100%;

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    background-color: #4a657d;
}

.header-main {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;

    background-color: white;
    box-shadow: 1px #e7e9ed;
}

.header-container {
    width: 75%;
    align-items: center;
    margin: 0% auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #ffffffde;
}

.nav-header-top-ul-left {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 15px;
    margin-bottom: 16px;
    padding-left: 0% !important;
    text-align: justify;

    list-style-type: none;
}

.nav-header-top-ul-left > li {
    justify-self: baseline;
    padding: 0%;
    margin: auto 9.5px;
}

.nav-header-top-ul-left:first-child {
    margin-left: 0%;
}

.nav-header-top-ul-right {
    display: flex;
    justify-content: stretch;
    align-items: baseline;

    color: ffffff;
    list-style-type: none;
}

.nav-header-top-ul-right > li {
    margin: 0% 8px;
}

.nav-header-top-ul-right :first-child {
    margin-left: 0;
}

.nav-header-top-ul-right :last-child {
    margin-right: 0%;
}

.header-top-btn {
    border: none;
    margin: 0%;
    margin-top: -1px;
    background-color: var(--button-color);

    width: 204px;
    height: 50px;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}

.logo {
    margin-left: 9px;
}

.nav-header-main {
    display: flex;
    list-style-type: none;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #4a657d;
    
}

.nav-header-main > li {
    margin: 0 20px;
}

.nav-header-main :first-child {
    margin-left: 0;
}

.nav-header-main :last-child {
    margin-right: 0;
}

.title-section {
    height: 1600;

    display: grid;

    grid-template-rows: repeat(5, 7.7em);
    grid-template-columns: 5% 80% 15%;

    justify-items: center;

    grid-template-areas: 
    "slider-left content slider-right"
    "slider-left content slider-right"
    "slider-left content slider-right"
    "slider-left content slider-right"
    "slider-left content slider-right";

    background: url("Media/bg\ crop.png") no-repeat;
    background-size: contain;
    
    background-position: center;
    background-size: 1600px 801px;
}

.title-slider {
    top: -1.8rem;
}

.column-left {
    justify-self: start;
    grid-area: slider-left;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
}

.column-right {
    display: flex;
    justify-content: flex-end;

    justify-self: end;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
}

.arrow-left {
    width: 69px;
    height: 70px;
    
    display: flex;
    justify-content: flex-end !important;
    background-image: url("Media/left-arrow.png");
}

.arrow-left :first-child {
    margin: 35% 35%;
}

.arrow-left :last-child {
    height: auto;
    width: 0.5px;
}

.gradient {
    margin-top: -0.01px !important;
    background: linear-gradient(
        to bottom,
        #b9d9f7,
        #64acec,
        #1f87e4
    );
}

.arrow-right {
    grid-area: slider-right;

    width: 180px;
    height: 61px;

    display: flex;
    background-image: url("Media/bg-slider.png");
    background-position: center;
    background-repeat: no-repeat;
}

.arrow-right :first-child {
    width: auto;
    margin: auto 14%;
    margin-right: 5%;

    text-transform: uppercase;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    text-align: center;
    color: #1d1d1d;
}

.arrow-right :last-child {

    margin: auto;
    margin-left: 10%;
    width: 20px;
}

.title-section-title {
    margin-left: 10%;
    grid-row-start: -5;
    grid-column: 2;
}

.title {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    color: #4a657d;
}

.title-section-paragraph {
    grid-row-start: 3;
    grid-column: 2;
    
    margin: auto 0;

    text-align: center;
    
    width: 100%;
    height: 61px;
    margin-left: 10%;
    justify-content: center;

}

.paragraph {   
    width: 100%;

    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #4a657d;
}

.title-section-button {
    grid-row-start: 4;
    grid-column: 2;

    margin-top: 6px;
    margin-left: 10%;
}

.button {
    width: 204px;
    height: 52px;
    

    border: none;
    background-color: var(--button-color);

    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.about-title {  
    text-align: left ;
    margin-top: 15%;
    margin-bottom: 1%;
}


.about-img {
    height: auto;
    width: 90%;
    margin: 10% 10% 5% 0%;

    flex-grow: 2;
}

.about-content {
    width: 50%;
    margin: 3% 10% 5% 4%;

    flex-grow: 3;

    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

@media screen and (max-width: 1450px) {
    .title {
        font-size: 40px !important;
    }
    .title-slider {
        width: 100px;
    }
    .header-container {
        width: 95%;
    }
    /* .header-top-btn {
        font-size: 10px;
        width: 55px;
    } */
    
}

@media screen and (max-width: 850px) {
    .title {
        font-size: 30px !important;
    } 
    .title-slider {
        width: 50px;
    }  
    .header-container {
        width: 95%;
    }
    .header-top-btn {
        font-size: 10px;
        width: 55px;
    }
    .nav-header-top-ul-left > li {
        font-size: 8px;
    }
    .paragraph {
        font-size: x-small;
    }
}